title: Ellie Y. Cheng
name: Ellie Y. Cheng
email: ellieyhc@csail.mit.edu
description: >- 
  PhD Student at MIT CSAIL, advised by Michael Carbin. My research interest is in developing programming abstractions for users of LLMs.
baseurl: ""
url: "https://elliecheng.com"
twitter_username: ellieyhc
github_username:  ellieyhcheng

permalink: /blog/:year/:month/:day/:title/

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll/scholar

scholar:
  style: _styles/association-for-computing-machinery.csl
  sort_by: name
  bibliography_template: bib


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
