:root {
    --dark: #273246;
    --light: #F5FFFE;
    --primary: #EF8F97;
    --secondary: #E7F9F7;
    --ternary: #CCC2D7;
    --navbar-height: 80px;
    --panel-height: 670px; 
    --panel-content-height: 560px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
    font-family: 'Dosis', sans-serif;
}

p {
    margin: 0;
}

.hl {
    color: var(--primary);
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

hr {
    border-width: 0.1px;
}

/********** panels **********/
#panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    width: 100%;
    height: var(--panel-height);
    position: absolute;
    left: 0;
}

.panel-content {
    width: 100%;
    height: var(--panel-content-height);
    display: flex;
    position: absolute;
    bottom:0;
    left: 0;
    justify-content:center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.title {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.2em;
    color: var(--primary);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    text-align: center;
}

/******* navbar ********/
#navbar-desktop {
    background: var(--light);
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    left: 0px;
    top: 0px;
    z-index: 1000;
    box-shadow: 10px 5px 6px 1px rgba(39,50,70,0.5);
}

#left-decor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

#left-decor > a {
    height: 60px;
}

#left-decor > a > .logo {
    height: 100%;
}

#left-decor > .line {
    width: calc(95% - 50px);
}

#left-decor > .line > hr {
    color: var(--dark);
}

#right-decor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16vw;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

#contact-icons {  
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

#contact-icons > a {
    width: 100%;
}

#contact-icons > a > .logo {
    height: 100%;
    margin: 0 1%;
}

#right-decor > .line {
    width: calc(95% - 100px);
}

#right-decor > .line > hr {
    color: var(--dark);
}

#menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.menu-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.09em var(--dark) solid;
    border-left: 0;
    padding: 0 5px;
    font-size: 1em;
    letter-spacing: 0.3em;
    cursor: pointer;
    transition: 0.4s;
}

#menu div:first-child {
    border-left: 0.09em var(--dark) solid !important;
}

.menu-selected {
    background-color: var(--dark);
    color: var(--light);
}

/********** home **********/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-decor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

#top-decor > .line {
    width: 40%;
}

#top-decor > .logo {
    width: 65px;
    color: var(--secondary);
}

#top-decor > .line > hr {
    color: var(--secondary);
}

#bottom-decor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-bottom: 38px;
}

#bottom-decor > .line {
    width: 30%;
}

#bottom-decor > a {
    width: 32px;
}

#bottom-decor > a > img {
    width: 100%;
}

#bottom-decor > .line > hr {
    color: var(--secondary);
}

#name-title {
    font-weight: 600;
    font-size: 98px;
    letter-spacing: 0.2em;
    color: var(--primary);
    margin: 38px 0;
}

#subtitle {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: var(--ternary);
    margin-bottom: 78px;
}

#arrow {
    width: 50vw;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}

#arrow > .logo {
    width: 34px;
}

/********* bio ********/
#photo {
    position: relative;
    width: 280px;
    height: 280px;
    max-width: 280px;
    min-width: 280px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

#photo::after {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

#photo-content {
    width: 85%;
    position: relative;
    object-position: center center;
}

#bio-content {
    color: var(--ternary);
    max-width: 650px;
    width: 60%;
    margin: 30px;
}

#bio-content > p {
    margin-bottom: 15px;
    font-size: 18px;
}

/******** portfolio *******/
.project {
    width: 620px;
    height: 400px;
    position: absolute;
}

.project-cover {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 1s;
}

.project-cover > img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    right:0;
    bottom:0;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    transition: 1s;
}

.project-file {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 300px;
    border: 1px solid var(--secondary);
    transition: 1s;
    background-color: var(--dark);
}

.project-description {
    width: 70%;
    padding: 20px;
    color: var(--ternary);
    letter-spacing: 0.1em;
}

.project-skills {
    position: absolute;
    right: 25px;
    top: 15px;
    color: var(--ternary);
    text-align: center;
    letter-spacing: 0.1em;
}

.project-skills > p {
    border-bottom: var(--ternary) 1px solid;
    padding: 5px;
}

.project-skills > p:last-child {
    border-bottom: 0px solid var(--ternary);
}

.project-title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: var(--secondary);
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
}

.no-title {
    height: 100%;
}

@keyframes coverHover {
    0%   {top:0px;}
    50%  {top:-120px; left:-50px;}
    100% {top:0px;left:0px;}
}

@keyframes coverLeave {
    0%   {top:0px;}
    50%  {top:-120px; left:-50px;}
    100% {top:0px;left:0px;}
}

@keyframes fileHover {
    0%   {bottom:0px;}
    50%  {bottom:-120px; right:-50px;}
    100% {bottom:0px;right:0px;}
}

@keyframes fileLeave {
    0%   {bottom:0px;}
    50%  {bottom:-120px; right:-50px;}
    100% {bottom:0px;right:0px;}
}

/******** resume ********/
#tab-container {
    display: flex;
    width: 800px;
    height: 350px;
    justify-content: flex-start;
    
}

#tabs {
    /* width: 15%; */
    width: 120px;
    position: relative;
    text-align: right;
    letter-spacing: 0.2em;
    border-right: var(--ternary) 1px solid;
    box-sizing: border-box; 
    color: var(--ternary);
    font-size: 14px;
}

#tabs > li {
    box-sizing: inherit;
    width: 120px;
    width: max-content;
}

.tab {
    left: 0;
    height: 43px;
    padding: 0 9px 0px 0px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: transparent;
    cursor: pointer;
    transition: 0.5s cubic-bezier(.22,.61,.36,1) 0.1s;
}

#tab-contents {
    max-width: 680px;
    width: 680px;
    min-width: 680px;
    position: relative;
    letter-spacing: 0.1em;
    color: var(--secondary);
}

.tab-content-wrapper {
    width: 500px;
    min-width: 500px;
}

.tab-content {
    padding: 5% 0 5% 8%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tab-body {
    display: flex;
    width: 100%;
}

.tab-logo {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    padding-top: 1%;
    margin-right: 20px;
}

.tab-logo > img {
    width: 100%;
}

.tab-title {
    font-weight: bolder;
    padding-bottom: 5%;
}

.tab-date {
    min-width: 140px;
    color: var(--ternary);
    font-weight: 600;
}

.tab-selected {
    color: var(--primary);
    background: #313f57;
}

.content-selected {
    z-index: 2;
    position: relative;
    visibility: visible;
    top: 0px;
    left: 0px;
}

#tab-hl {
    background-color: var(--primary);
    width: 3px;
    height: 45px;
    z-index: 10;
    position: absolute;
    top: 0;
    transition: 0.3s cubic-bezier(.45,.05,.55,.95);
    right: -2px;
}

.skill-list {
    margin-left: 50px;
    width: 200px;
}

/**** footer ****/

#footer {
    width: 100%;
    position: absolute;
    top: 3430px;
    left: 0;
    color: var(--secondary);
    letter-spacing: 0.1em;
}

#footer > hr {
    color: var(--secondary);
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

#footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#footer > div > img {
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

/****** Tablet ******/
/* it's kind of weird right now */
@media only screen and (max-width: 970px) {
    .menu-item {
        font-size: 1.5vw;
    }

    #top-decor > .logo {
        width: 17%;
    }
    
    #name-title {
        font-size: 10.2vw;
    }

    #subtitle {
        font-size: 3.1vw;
    }

    #bottom-decor > .logo {
        width: 8%;
    }  

    #arrow > .logo {
        width: 7%;
    }
}

/****** Mobile ******/
/* it's so broken right now */
@media only screen and (max-width: 760px) {
    #navbar-desktop {
        height: 10vh;
    }

    .menu-item {
        font-size: 3vw;
    }
}