:root {
    --dark: #2F3133;
    --light: #ffffff;
    --primary: #A3C29B;
    --displacement: 330%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    top:0;
    left:0;
    padding: 10vh 0;
    position: relative;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

p {
    margin: 0;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

hr {
    border-width: 0.1px;
}

a {
    text-decoration: none;
    color: inherit;

}

img, svg {
    width: 100%;
    height: 100%;
    position: relative;
}

::-moz-selection { /* Code for Firefox */
    color: var(--light);
    background: black;
}

::selection {
    color: var(--light);
    background: black;
}

.circle {
    border-radius: 100%;
}

#center {
    width: 21vw;
    height: 21vw;
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    margin: 2.5vh 0;
}

#center-border {
    width: 100%;
    height: 100%;
    border: var(--dark) 2px solid;
    position: relative;
}

#center-img {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5.5%;
    left: 5.5%;
}

#name {
    background: var(--dark);
    padding: 0.6rem 4rem;
    font-size: 1.3rem;
    color: var(--light);
    letter-spacing: 0.2rem;
    text-align: center;
    position: absolute;
    bottom: 13%;
    right: -10%;
}

#menu {
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--light);
    animation: orbit_rotate 40s infinite linear;
    animation-play-state: running;
}

#menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    min-width: 450px;
    min-height: 450px;
    overflow: visible;
}

#menu-wrapper:hover #menu {
    animation-play-state: paused;
}

@keyframes orbit_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.menu-item {
    width: 13%;
    height: 13%;
    position: absolute;
    left: calc(50% - 6.5%);
    top: calc(50% - 6.5%);
    background: var(--dark);

    border: 2px solid var(--light);
    box-sizing: border-box;
}

.menu-item:nth-child(1) {
    transform: rotate(270deg) translateX(var(--displacement));
}

.menu-item:nth-child(2) {
    transform: rotate(310deg) translateX(var(--displacement));
}

.menu-item:nth-child(3) {
    transform: rotate(350deg) translateX(var(--displacement));
}

.menu-item:nth-child(4) {
    transform: rotate(90deg) translateX(var(--displacement));
}

.menu-item:nth-child(5) {
    transform: rotate(130deg) translateX(var(--displacement));
}

.menu-item:nth-child(6) {
    transform: rotate(170deg) translateX(var(--displacement));
}

.menu-item a {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a svg {
    width: 50%;
    height: 50%;
    animation: planet_rotate 40s infinite linear;
}

#menu-wrapper:hover #menu .menu-item a svg,
#menu-wrapper:hover #menu .menu-item .tooltip {
    animation-play-state: paused;
}

@keyframes planet_rotate {
    0% {
        transform: rotate(90deg);
    }
    100% {
      -webkit-transform: rotate(-270deg);
      -moz-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      -o-transform: rotate(-270deg);
      transform: rotate(-270deg);
    }
}

.menu-item:nth-child(2) a svg,
.menu-item:nth-child(2) .tooltip {
    animation-delay: -4.45s;
}

.menu-item:nth-child(3) a svg,
.menu-item:nth-child(3) .tooltip {
    animation-delay: -8.9s;
}

.menu-item:nth-child(4) a svg,
.menu-item:nth-child(4) .tooltip {
    animation-delay: -20s;
}

.menu-item:nth-child(5) a svg,
.menu-item:nth-child(5) .tooltip {
    animation-delay: -24.45s;
}

.menu-item:nth-child(6) a svg,
.menu-item:nth-child(6) .tooltip {
    animation-delay: -28.9s;
}

.tooltip {
    color: var(--dark);
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 0rem 0rem;
    padding: 0;
    animation: tooltip_rotate 40s infinite linear;
    width: max-content;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

@keyframes tooltip_rotate {
    0% {
        transform: rotate(90deg); 
        top: -75%;
        left: 100%;
    }
    25% {
        transform: rotate(0deg);
        top: -75%;
        left: 150%;
    }
    50% {
        transform: rotate(-90deg);
        top: -75%;
        left: 100%;
    }
    75% {
        transform: rotate(-180deg);
        top: -75%;
        left: 150%;
    }
    100% {
      -webkit-transform: rotate(-270deg);
      -moz-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      -o-transform: rotate(-270deg);
      transform: rotate(-270deg);
      top: -75%;
      left: 100%;
    }
}

#menu-wrapper:hover #menu .menu-item .tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 1023px) {

    .menu-item .tooltip {
        visibility: visible;
        opacity: 1;

    }

    #menu, #menu .menu-item a svg,
    #menu .menu-item .tooltip {
        animation-play-state: paused;
    }
    
}