:root {
    --dark: #2F3133;
    --light: #ffffff;
    --primary: #A3C29B;
    --displacement: 330%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    top:0;
    left:0;
    position: relative;
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

hr {
    border-width: 0.1px;
}

a {
    text-decoration: none;
    color: inherit;

}

img, svg {
    width: 100%;
    height: 100%;
    position: relative;
}

::-moz-selection { /* Code for Firefox */
    color: var(--light);
    background: black;
}

::selection {
    color: var(--light);
    background: black;
}

.circle {
    border-radius: 100%;
}

#center {
    width: 21vw;
    height: 21vw;
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center-border {
    width: 100%;
    height: 100%;
    border: var(--dark) 2px solid;
    position: relative;
}

#center-img {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5.5%;
    left: 5.5%;
}

#name {
    background: var(--dark);
    padding: 0.6rem 4rem;
    font-size: 1.3rem;
    color: var(--light);
    letter-spacing: 0.2rem;
    text-align: center;
    position: absolute;
    bottom: 13%;
    right: -10%;
}

#menu {
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--light);
    animation: orbit_rotate 40s infinite linear;
    animation-play-state: running;
}

#menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    min-width: 450px;
    min-height: 450px;
    overflow: hidden;
}

#menu-wrapper:hover #menu {
    animation-play-state: paused;
}

@keyframes orbit_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.menu-item {
    width: 13%;
    height: 13%;
    position: absolute;
    left: calc(50% - 6.5%);
    top: calc(50% - 6.5%);
    background: var(--dark);

    border: 2px solid var(--light);
    box-sizing: border-box;
}

.menu-item:nth-child(1) {
    transform: rotate(270deg) translateX(var(--displacement));
}

.menu-item:nth-child(2) {
    transform: rotate(310deg) translateX(var(--displacement));
}

.menu-item:nth-child(3) {
    transform: rotate(350deg) translateX(var(--displacement));
}

.menu-item:nth-child(4) {
    transform: rotate(90deg) translateX(var(--displacement));
}

.menu-item:nth-child(5) {
    transform: rotate(130deg) translateX(var(--displacement));
}

.menu-item:nth-child(6) {
    transform: rotate(170deg) translateX(var(--displacement));
}

.menu-item a {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a svg {
    width: 50%;
    height: 50%;
    animation: planet_rotate 40s infinite linear;
}

#menu-wrapper:hover #menu .menu-item a svg {
    animation-play-state: paused;
}

@keyframes planet_rotate {
    0% {
        transform: rotate(90deg);
    }
    100% {
      -webkit-transform: rotate(-270deg);
      -moz-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      -o-transform: rotate(-270deg);
      transform: rotate(-270deg);
    }
}

.menu-item:nth-child(2) a svg {
    animation-delay: -4.5s;
}

.menu-item:nth-child(3) a svg {
    animation-delay: -9s;
}

.menu-item:nth-child(4) a svg {
    animation-delay: -20s;
}

.menu-item:nth-child(5) a svg {
    animation-delay: -24.5s;
}

.menu-item:nth-child(6) a svg {
    animation-delay: -29s;
}