@import "styles";

.container {
    width: 100%;
    max-width: 900px;
}

#name {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

#menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
}

.menu-item {
    margin: 0rem 1rem;
    letter-spacing: 0.1rem;
}

#content {
    padding: 1rem 1.5rem 3rem 1.5rem;
    max-width: 100%;
    box-sizing: border-box;
}

.item-container {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

.item {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.item p {
    margin: 0 0 0.2rem;
}

.item a {
    color: var(--primary);
}

.item a:hover {
    text-decoration: underline;
}

#content h1 {
    letter-spacing: 0.1rem;
}
