---
---
@import "default";

.container {
    margin: 10px auto;
    text-align: center;
}

h1 {
    margin: 30px 0;
    font-size: 5em;
    line-height: 1;
    letter-spacing: -1px;
}

p {
    font-size: 1.2em;
}

img {
    border-radius: 4px;
}