---
---
@import "default";

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.item {
    border-bottom: 1px var(--dark) dashed;
    padding: 0rem 0 1rem 0;
}

.item p {
    margin: 0 0 0.2rem;
}

.item h2 {
    margin: 0 0 0.3rem;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.item .description {
    margin: 0.3rem 0 0.2rem 0;
    font-style: italic;
}