---
---
@import "default";

.container h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin: 1.2rem 0 0.2rem 0;
    color: var(--dark);
}

.container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container h3 {
    font-size: 1.6rem;
    margin-bottom: 0.3em;
}

.container header {
    border-bottom: 1px var(--dark) dashed;
    padding: 0 0 1.5rem 0;
    margin: 0 0 1.5rem 0;
}

.container header .label {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.author {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5rem 0 0 0;
}

.date {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5rem 0 0 0;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    color: var(--medium);
    margin: 0 0 1.5rem 0;
}

.container .article {
    font-family: 'Open Sans', sans-serif;
}

.container .article sup {
    line-height: 0;
}

.container .article p {
    line-height: 1.7rem;
    margin: 1rem 0;
    font-size: 1.2em;
}

.container .article ul {
    list-style: inside disc;
    margin: 0 1em;
}

.container .article li {
    line-height: 1.5rem;
    font-size: 1.2em;
}

.container .article a {
    color: var(--primary);
}

.container .article a:hover {
    text-decoration: underline;
}

.language-python pre {
    // background: var(--dark);
    color: var(--primary);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.language-plaintext {
    color:var(--secondary);
}

.container .article img {
    margin: 0 auto;
}

.container .article .center {
    text-align: center;
}

.para {
    font-weight: bold;
}

.citation {
    font-size: 0.9em;
}

.references {
    color: var(--medium)
}

.container .references .bibliography {
    margin: 0 0 0 0.1em;
    // margin: 0;
    padding: 0;
    counter-reset: list;
}

.container .references .bibliography li {
    margin: 0.5em 0 0.5em 1.4em;
    list-style: none;
    line-height: 1rem;
    font-size: 0.9rem;
    text-indent: -1.4em;
}

.container .references .bibliography li::before {
    content: "[" counter(list) "] ";
    counter-increment: list;
}

.references a {
    color: var(--mediumdark);
}

.references a:hover {
    text-decoration: underline;
}

.fig-label {
    font-size: 0.9em;
    color: var(--primary);
}