:root {
  --dark: #2F3133;
  --light: #ffffff;
  --primary: #e08379;
  --displacement: 330%;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background: var(--light);
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  top:0;
  left:0;
  position: relative;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

hr {
  border-width: 0.1px;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg {
  width: 100%;
  height: 100%;
  position: relative;
}

details {
  margin: 0.5rem 0 0;
  position: relative;
}

summary {
  font-size: 0.9rem;
  cursor: pointer;
}

pre {
  overflow: auto;
  display: block;
  background: #eeeeee;
  padding: 1rem 1rem;
  border-radius: 5px;
}

::-moz-selection { /* Code for Firefox */
  color: var(--light);
  background: black;
}

::selection {
  color: var(--light);
  background: black;
}

.circle {
  border-radius: 100%;
}

.container {
  width: 100%;
  max-width: 900px;
}

#header {
  width: 100%;
  height: 5em;
  position: relative;
  border-bottom: var(--dark) solid 1px;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

#name {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

#menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}

.menu-item {
  margin: 0rem 1rem;
  letter-spacing: 0.1rem;
}

#content {
  padding: 1rem 1.5rem;
}

.item-container {
  font-family: 'Open Sans', sans-serif;
}

.item {
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.item p {
  margin: 0 0 0.2rem;
}

.item a {
  color: var(--primary);
}

.item a:hover {
  text-decoration: underline;
}

#content h1 {
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 1023px) {
  
  /* #menu {
      margin: 0 10rem 5rem;
      width: 20rem;
      height: auto;
      min-width: unset;
      min-height: unset;
      display: flex;
  } */
  
}